.navbar-brand {
margin-left: 10px;
}

.row {
    width: 95%;
    margin: auto;
}

.landing h1 {
    font-size: 84px;
}

.landing p {
    font-size: 24px;
    margin-bottom: 20px;
}

.landing h1, .landing p {
    margin-bottom: 20px;
}

button#get-tickets {
    background: linear-gradient(to left, #181818, #333, #444);
    color: white;
    border: 1px solid rgb(255, 255, 255, 0.3);
    padding: 18px 60px;
    font-size: 18px;
    border-radius: 15px;
}

.landing .card {
    width: calc(50% - 5%); /* Subtract the padding from the width */
    max-width: calc(50% - 5%);
}

.landing {
    box-sizing: border-box; /* Include padding in width calculation */
}

.card-form {
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* Frosted glass effect */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto; /* Push the card form to the right */
}

.card-form select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 16px;
    appearance: none; /* Remove default dropdown styling */
    position: relative;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    text-align: left;
}